<h1>Products</h1>
<%= form_tag products_path do  %>
    <%= text_field_tag 'search',nil, id: 'navbar-search-input' %>
    <br/>
    <%= submit_tag 'Search' %>
<% end %>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Price</th>
  </tr>
  </thead>

  <tbody>
  <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td></td>
        <td><%= product.price %></td>
        <td><%#= link_to 'Show', product %></td>
        <td><%#= link_to 'Edit', edit_product_path(product) %></td>
        <td><%#= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>

<script>
    var ready;
    ready = (function() {
        $("#navbar-search-input").autocomplete({
            source: '/search_suggestions.json'
        });
    });

    $(document).ready(ready);
    $(document).on('page:load', ready);
//    $(document).ready(function(){
//        $('#search').autocomplete
//        source: "/search_suggestions"
//    });
</script>
